apiVersion: v1
kind: PersistentVolume
metadata:
  name: data-my-release-mariadb-0
spec:
  claimRef:
    name: data-my-release-mariadb-0
    namespace: default
  capacity:
    storage: 8Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Recycle
  storageClassName: slow
  nfs:
    path: /var/lib/nfs-mariadb
    server: 100.64.129.20
