network:
  version: 2
  ethernets:
    if_name_primary_to_be_replaced:
      dhcp4: false
      link-local: []
      addresses:
        - ip_to_be_replaced/prefix_length_to_be_replaced
      gateway4: gw_to_be_replaced
    if_name_secondary_to_be_replaced:
      dhcp4: false
      link-local: []
      addresses:
        - ${ip4_second}
      nameservers:
        addresses: [${avi_dns_vs}]
